{{ $page := .root }}
{{ $page := .page }}

<div class="row summaryCard">
  {{ with $page.Title }}
  <div class="col-md-12 section-heading">
    <h1>{{ . | markdownify | emojify }}</h1>
    {{ if $page.Params.subtitle }}
    <p>
      {{ $page.Params.subtitle | markdownify | emojify }}
    </p>
    {{ end }}
  </div>
  {{ end }}

  {{ with $page.Content }}
  <div class="col-md-12">
    {{ . }}
  </div>
  {{ end }}

  {{ range $page.Params.feature }}
    {{ $top_pack := or .top_icon_pack "fas" }}
    {{ $top_pack_prefix := $top_pack }}
    {{ if in (slice "fab" "fas" "far" "fal") $top_pack }}
      {{ $top_pack_prefix = "fa" }}
    {{ end }}
    <div class="col-12 col-sm-4 d-flex">
      <div class = "card flex-fill">
        <div class="card-img-top">
          {{ with .top_icon }}
            {{- if eq $top_pack "emoji" -}} {{/* If icon is an emoji */}}
              {{- . | emojify -}}
            {{- else if eq $top_pack "custom" -}} {{/* If icon is a custom svg */}}
              {{- $svg_icon := printf "assets/media/icons/%s.svg" . -}}
              {{- if $svg_icon -}} {{- $svg_icon | readFile | markdownify -}} {{- end -}}
            {{- else -}} {{/* If icon is font awesome */}}
              <i class="{{ $top_pack }} {{ $top_pack_prefix }}-{{ . }}"></i>
            {{- end -}}
          {{ end }}
        </div>
        <div class="card-body">
          
          <h3 class="card-title">{{ .name | markdownify | emojify }}</h3>
          
          {{ with .description }}
          <p class="card-text">{{ . | markdownify | emojify }}</p>
          {{ end }}
          
          {{/* Add button -- uses shortcode from hero.md */}}
          {{ if .btn_url }}
            {{ $btn_pack := or .btn_icon_pack "fas" }}
            {{ $btn_pack_prefix := $btn_pack }}
            {{ if in (slice "fab" "fas" "far" "fal") $btn_pack }}
              {{ $btn_pack_prefix = "fa" }}
            {{ end }}
            {{ $btn_link := .btn_url }}
            {{ $btn_scheme := (urls.Parse $btn_link).Scheme }}
            {{ $btn_target := "" }}
            {{ if not $btn_scheme }}
              {{ $btn_link = $btn_link | relLangURL }}
            {{ else if in (slice "http" "https") $btn_scheme }}
              {{ $btn_target = "target=\"_blank\" rel=\"noopener\"" }}
            {{ end }}
            {{ $btn_label := .btn_icon_label }}
            <a href="{{ $btn_link | safeURL }}" {{ $btn_target | safeHTMLAttr }} class="btn btn-lg mb-3 mb-md-1">
              {{ if .btn_icon }}
                {{- $btn_icon := .btn_icon | printf "%s-%s" $btn_pack_prefix | printf "%s %s" $btn_pack -}} {{/* Assign btn_icon as fontawesome icon by default */}}
                {{- if eq $btn_pack "emoji" -}} {{/* If icon if icon is an emoji */}}
                  {{- $btn_icon = .btn_icon | emojify -}}
                {{- else if eq $btn_pack "custom" -}} {{/* If icon is a custom svg */}}
                  {{- $btn_icon = printf "assets/media/icons/%s.svg" .btn_icon -}}
                  {{- if $btn_icon -}} {{- $btn_icon | readFile | markdownify -}} {{- end -}}
                {{- end -}}
                <i class="{{ $btn_icon }} pr-1" aria-hidden="true"></i>
              {{ end }}
              {{ $btn_icon_label | markdownify | emojify | safeHTML }}
            </a>
          {{ end }}
        </div>   
      </div>
    </div>
  {{ end }}
</div>
